body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

header {
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: rgb(26, 63, 117);
    text-decoration: none;
}

.intro {
    padding: 2rem;
}

.topics {
    background-color: rgba(69, 153, 233, 0.692);
    padding: 2rem;
}

footer {
    background-color: rgb(11, 108, 236);
    color: rgb(226, 223, 220);
    text-align: center;
    padding: 1rem;
}

.header{
  background-color: rgb(11, 108, 236);
  width: 500px;
  height: 100px;
  text-align: center;
  align-self: ;
  padding: 1rem;
  
 
  
  

  
  
}
h1{
  
  }
  .container {
    text-align: center; /* Centralizar a imagem horizontalmente */
    padding: 20px;
}

img {
    max-width: 70%; /* Garante que a imagem não seja maior que o seu contêiner */
    height: auto; /* Mantém a proporção da imagem */
}

